

.ads{
    position: relative;
    width: 10cm;
    height: 50cm;
    border: solid var( --lightColor);
    left: 111;
    top: -60cm;
    overflow: hidden;
    position: relative;
    background: var( --container_t);
    border-radius: 10px;

}