

.ads{
    position: absolute;
    width: 10cm;
    height: 50cm;
    border: solid var( --lightColor);
    left: 111;
    top: 5cm;
    overflow: hidden;
    background: var( --container_t);
    border-radius: 10px;
    display: grid;
    justify-content: space-around;
}
.ads .f11{
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    width: 100%;
    height: 300;
    /* background: rgba(79, 79, 79, 0.166); */
    top: 10px;
    overflow: hidden;
    gap: 0px;
}
.ads .f11 .Banner1 , .Banner2{
    position: relative;
    width: 30%;
    height: 100%;
    /* background: rgba(133, 8, 8, 0.421); */
    margin: 0 100 0 0;
}
.ads .f121{
    margin: 350 0 0 0;
}


@media (max-width:600px){
    .ads{
        display: none;
    }

 

}

