

.ads{
    position: relative;
    width: 10cm;
    height: 50cm;
    border: solid var( --lightColor);
    left: 111;
   margin-top: -64cm;
    overflow: hidden;
    position: relative;
    background: var( --container_t);
    border-radius: 10px;

}
@media (max-width:600px){
    .ads{
      
        display: none;
    }

 

}

