:root{
    --Silver: #BFACAA;
    --Oxford_Blue:#051f4ab4;
    --Lavender:#E1E2EF;
    --black:#02020A;
    --Wisteria:#b497d690;
}

body {
  /* height: 100vh; */
  background: var(--lightboby);
  display: flex;
  flex-direction: column; /* يجعل المحتوى يترتب عمودياً */
  margin: 0;
}

html {
    --header: linear-gradient(5deg,var(--Wisteria),var(--Oxford_Blue));
    --lighth1: #2a0b4c;
    --light_a: #ffffff;
    --Before_the_start: tomato;
    --time_border_before: rgb(242, 255, 171);
    --lightCount_Down_Timer: rgb(242, 255, 171);
    --lightinformation: linear-gradient(0deg, #e9e9e9, #a8a8a8);
    --lightboby: #dedede;
    --container_t:#ffffff;
    --lightColor: #232323;
    --lightColor2: #291e00;
    --menu: #F7F7F7;
    --menu_m: #f7f7f756;
    --time: tomato;
    --timebefore: rgb(242, 255, 171);
    --webkit-scrollbar-thumb: #ffffff;
  }

   

  
  html[data-theme='dark'] {
    --header: linear-gradient(5deg,var(--Wisteria),var(--black));
    --lighth1: #d9b9ff;
    --light_a: #c9c9c9;
    --Before_the_start: #FFBD07;
    --time_border_before: #FFBD07;
    --lightCount_Down_Timer:  #FFBD07;
    --lightinformation: linear-gradient(0deg, #232323, #3d3d3d);
    --lightboby: #0c0a13;
    --lightColor: #fff;
    --lightColor2: #ffffff;
    --container_t:#0000005f;
    --menu: #0000005f;
    --menu_m: #0000005f;
    --time: #000000;
    --timebefore: rgb(255, 0, 0);
    --webkit-scrollbar-thumb: #4f4f4f;
     scrollbar-color: #d14a4a #f1f1f1; 
   

  }
/* 
  body.dark-theme {
    --color-text-primary: #F1F5F9;
    --color-text-placeholder: #A6B7D2;
    --color-bg-primary: #111827;
    --color-bg-secondary: #3D4859;
    --color-bg-sidebar: #1f2937;
    --color-border-hr: #3B475C;
    --color-hover-secondary: #48566a;
    --color-shadow: rgba(0, 0, 0, 0.3);
    --header: linear-gradient(5deg,var(--Wisteria),var(--black));
    --lighth1: #d9b9ff;
    --light_a: #c9c9c9;
    --Before_the_start: #FFBD07;
    --time_border_before: #FFBD07;
    --lightCount_Down_Timer:  #FFBD07;
    --lightinformation: linear-gradient(0deg, #232323, #3d3d3d);
    --lightboby: #0c0a13;
    --lightColor: #fff;
    --lightColor2: #ffffff;
    --container_t:#0000005f;
    --menu: #0000005f;
    --menu_m: #0000005f;
    --time: #000000;
    --timebefore: rgb(255, 0, 0);

  }
   */

  body.dark-theme {
    /* Dark theme colors */
    --color-text-primary: #F1F5F9;
    --color-text-placeholder: #A6B7D2;
    --color-bg-primary: #111827;
    --color-bg-secondary: #3D4859;
    --color-bg-sidebar: #292929;
    --color-border-hr: #3B475C;
    --color-hover-secondary: #48566a;
    --color-shadow: rgba(0, 0, 0, 0.3);
    --header: linear-gradient(5deg,var(--Wisteria),var(--black));
    --lighth1: #d9b9ff;
    --light_a: #c9c9c9;
    --Before_the_start: #FFBD07;
    --time_border_before: #FFBD07;
    --lightCount_Down_Timer:  #FFBD07;
    --lightinformation: linear-gradient(0deg, #232323, #3d3d3d);
    --lightboby: #292929;
    --lightColor: #fff;
    --lightColor2: #ffffff;
    --container_t:#0000005f;
    --menu: #0000005f;
    --menu_m: #0000005f;
    --time: #000000;
    --timebefore: rgb(255, 0, 0);
    --webkit-scrollbar-thumb: #4f4f4f;

  }

