:root{
    --Silver: #BFACAA;
    --Oxford_Blue:#05204A;
    --Lavender:#E1E2EF;
    --black:#02020A;
    --Wisteria:#B497D6;
}
html {
    --header: linear-gradient(5deg,var(--Wisteria),var(--Oxford_Blue));
    --lighth1: #b4a2c8;
    --light_a: #ffffff;
    --Before_the_start: tomato;
    --time_border_before: rgb(242, 255, 171);
    --lightCount_Down_Timer: rgb(242, 255, 171);
    --lightinformation: linear-gradient(0deg, #e9e9e9, #a8a8a8);
    --lightboby: #dedede;
    --container_t:#ffffff;
    --lightColor: #232323;
    --lightColor2: #291e00;
    --menu: #F7F7F7;
    --menu_m: #f7f7f756;
    --time: tomato;
    --timebefore: rgb(242, 255, 171);

  }
  
  html[data-theme='dark'] {
    --header: linear-gradient(5deg,var(--Wisteria),var(--black));
    --lighth1: #d9b9ff;
    --light_a: #c9c9c9;
    --Before_the_start: #FFBD07;
    --time_border_before: #FFBD07;
    --lightCount_Down_Timer:  #FFBD07;
    --lightinformation: linear-gradient(0deg, #232323, #3d3d3d);
    --lightboby: #0c0a13;
    --lightColor: #fff;
    --lightColor2: #ffffff;
    --container_t:#0000005f;
    --menu: #0000005f;
    --menu_m: #0000005f;
    --time: #000000;
    --timebefore: rgb(255, 0, 0);



  }
