:root {
	--gradient-shadow: linear-gradient(
		45deg,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000
	);
}

@keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 300% 0;
	}
	100% {
		background-position: 0 0;
	}
}

body{
    height: 230vh;
    background: var(--lightboby);
}

.container_t{
    overflow: hidden;
    position: relative;
    width: 30cm;
    height: 50cm;
    top: 5cm;
    left: 14cm;
    background: var( --container_t);
    z-index: 0;
    border-radius: 10px;


}
.container_t:before,
.container_t:after {
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	border: solid 3px rgb(53, 53, 84);
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	z-index: -1;
	animation: animate 20s linear infinite;
}


/* time */
.time{
    width: 100%;
    height: 12cm;
    z-index: 1;
    position: relative;
    top: 0;
    left:0;
    right: 0;

}
.time .img_time{
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -100;


}

.time .time_first__match{
    position: absolute;
    top: 70px;
    left: 230px;
    width: 100px;
    height: 100px;
    z-index: 1000;


}
.time .time_first__match img{
}
.time .time_first__match p{
    color: aliceblue;
    font-size: 30px;
    width: 5cm;
    font-weight: bold;
    position: absolute;
    top: 120px;
    left: -20;

}
.time .time_Second__match{
    position: absolute;
    top: 70px;
    left: 760px;
    width: 100px;
    height: 100px;
    text-align: center;
    z-index: 1000;


}
.time .time_Second__match img{
    
}
.time .time_Second__match p{
    color: aliceblue;
    font-size: 30px;
    width: 5cm;
    font-weight: bold;
    position: absolute;
    top: 120px;
    left: -20;
    
    
}
.time .Match_time{
    position: absolute;
    top: 70px;
    width: 10px;
    height: 10px;
    z-index: 1000;
    left: 52.6dvb;
    text-align: center;

    
} .time .Match_time h1{
    position: absolute;
    top: 0px;
    font-size: 80px;
    font-weight: 500;
    color: aliceblue;

    
} 
/*  */
/*Count Down Timer  */
#timer-container-1 {
    display: inline-block;
    width: 25cm;
    height: 5cm;
    position: absolute;
    top:  9cm;
    left: 2cm;
    z-index: 3;
}
#timer-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: var(--lightCount_Down_Timer);
    font-weight: 300;
    flex-wrap: wrap;
    margin: 20px 28px;

}
#timer-container-1 #timer-1 span {
    display: flex;
    width: 80px;
    height: 70px;
    font-size: 45px;
    margin: -10 18;
    color: var(--lightCount_Down_Timer);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: double 4px ;
    border-radius: 50px;
}
.counter span div:first-child {
    display: inline-flex;
    width: 90px;
    height: 100px;
    border: 2px solid rgb(83, 227, 252);
    font-size: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
  .container > div:last-child {
    text-align: center;
}
  
 /*  */

 /* information */
 .information{
    display: block;
    position: absolute;
    width: 100%;
    height: 15cm;
    right: 1;
    margin-top: 30px;
 }
/* .information:before,
.information:after {
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	background: var(--gradient-shadow);
	background-size: 400%;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	z-index: -1;
	animation: animate 20s linear infinite;
} */
.information:after {
	filter: blur(250px);
    z-index: -4 ;
}
.information .about{
    display: flex;
    position: absolute;
    width: 100%;
    height: 2cm;
    
}
.information .about h1{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    position: absolute;
    left: 20cm;
    color: var(--lightColor);
}
.information .about .about_match{
    display: block;
    position: absolute;
    width: 100%;
    height: 470px;
    margin-top: 86px;
}
.information .about .about_match span{
    position: absolute;
    width: 100%;
    height: 70px;
    left: -7px;
    border: solid 1px rgba(84, 84, 84, 0.448);
    font-size: 30px;
    font-weight: bold;
    color: var(--lightColor);


}
.information .about .about_match .i1{
    text-align: right;
    justify-content: center;
    flex-direction: column;
    display: flex;

    
    
}
.information .about .about_match .i2{
    margin-top: 80px;
    text-align: right;
    justify-content: center;
    flex-direction: column;
    display: flex;

}
.information .about .about_match .i3{
    margin-top: 160px;
    text-align: right;
    justify-content: center;
    flex-direction: column;
    display: flex;

}
.information .about .about_match .i4{
    margin-top: 240px;
    position: absolute;
    text-align: right;
    justify-content: center;
    flex-direction: column;
    display: flex;

}
.information .about .about_match .i5{
    margin-top: 310px;
    position: absolute;
    text-align: right;
    justify-content: center;
    flex-direction: column;
    display: flex;

}
 /*  */

/* section */
section{
    display: flex;
    position: relative;
    top: 18cm;
    left: 1.5cm;
    width: 1000px;
    height: 450px;
    background: linear-gradient(0deg, #000, #262626);
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}
/* section:before,
section:after {
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	background: var(--gradient-shadow);
	background-size: 400%;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	z-index: -1;
	animation: animate 20s linear infinite;
} */
section:after {
	filter: blur(20px);
}
section iframe {
	/* filter: blur(20px); */
    z-index: 3;
}
section .Before_the_start{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--Before_the_start);
    z-index: 1;
    text-align: center;
    color: var(--lightColor2);
}
section .Before_the_start i{
    position: relative;
    font-size: 100px;
}
section .Before_the_start h1{
    margin-top: 80px;
    font-size: 40px;
}
section .Before_the_start .h11{
    position: relative;
}
section .Before_the_start .h12{
    position: relative;
    top: -44px;
}
/*  */
