/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Light theme colors */
  --color-text-primary: #1F2936;
  --color-text-placeholder: #798EAE;
  --color-bg-primary: #f9fafb;
  --color-bg-secondary: #ECECFD;
  --color-bg-sidebar: #FFFFFF;
  --color-border-hr: #E2E8F0;
  --color-hover-secondary: #e2e2fb;
  --color-shadow: rgba(0, 0, 0, 0.05);
}


/* body {
  min-height: 100vh;
  background: var(--color-bg-primary);
} */

.sidebar {
  position: fixed;
  top: 150px;
  width: 270px;
  height: 22.0cm;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background: var(--color-bg-sidebar);
  border-right: 1px solid var(--color-border-hr);
  box-shadow: 0 3px 9px var(--color-shadow);
  transition: width 0.4s ease;
}

.sidebar.collapsed {
  width: 90px;
}

.sidebar .sidebar-header {
  padding: 20px 18px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
    border-bottom: 1px solid var(--color-border-hr);
}

.sidebar-header .header-logo {
  width: 46px;
  height: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
  left: -13px;
  position: relative;
  transition: opacity 0.4s ease;
}

.sidebar-header h1 {
  font-size: 14;
  font-family: "Playwrite MX Guides", cursive;
  font-weight: 100;
  font-style: normal;
  left: -53px;
  position: relative;
  color: var(--lighth1);
  transition: opacity 0.4s ease;
}


.sidebar.collapsed .header-logo , .sidebar.collapsed h1 {
  opacity: 0;
  pointer-events: none;
}

.site-nav .sidebar-toggle,
.sidebar-header .sidebar-toggle {
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 18px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--color-bg-secondary);
  background: transparent;
  transition: 0.4s ease;
}

.site-nav .sidebar-toggle:hover,
.sidebar-header .sidebar-toggle:hover {
  /* background: var(--color-hover-secondary); */
}

header .sidebar-toggleadd{
  display: none;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  /* display: flex; */
  position: absolute;
  right: 18px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: var(--color-text-primary);
  background: var(--color-bg-secondary);
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggle {
  transform: translateX(-2px);
  height: 48px;
  width: 50px;
}

.sidebar-header .sidebar-toggle span {
  font-size: 1.75rem;
  transition: transform 0.4s ease;

}

.sidebar.collapsed .sidebar-toggle span {
  transform: rotate(180deg);
}
.sidebar-header .sidebar-toggle ion-icon{
  font-size: 100;
  top: 1;
  position: relative;
  color: var(--menu_btn);

}
.sidebar-header .sidebar-toggle ion-icon:hover{
  color: var(--color-text-primary);
}
.sidebar.collapsed .sidebar-toggle ion-icon{
  transform: rotate(180deg);
}
.sidebar .sidebar-content {
  flex: 1;
  padding: 20 18;
  overflow: hidden auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-text-placeholder) transparent;

}

.sidebar.collapsed .sidebar-content {
  scrollbar-width: none;
}

.sidebar-content .search-form {
  border-radius: 8px;
  min-height: 48px;
  margin: 5px 0 20px;
  align-items: center;
  display: flex;
  padding: 0 15px;
  white-space: nowrap;
  background: var(--color-bg-secondary);
  transition: 0.4s ease;
}

.sidebar.collapsed .search-form:hover {
  cursor: pointer;
}

.sidebar-content .search-form:focus-within,
.sidebar.collapsed .search-form:hover {
  background: var(--color-hover-secondary);
}

.sidebar-content .search-form span {
  color: var(--color-text-placeholder);
}

.search-form input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  margin-left: 15px;
  font-size: 1rem;
  color: var(--color-text-primary);
}

.search-form input::placeholder {
  color: var(--color-text-placeholder);
}

.sidebar-content .menu-list {
  display: flex;
  gap: 4px;
  list-style: none;
  flex-direction: column;
  text-align: left;
}

.menu-list .menu-link {
  display: flex;
  /* gap: 110px; */
  white-space: nowrap;
  border-radius: 10px;
  padding: 8 10; 
  color: var(--lighth1);
  transition: 0.3s ease;
  text-decoration: none;
  font-weight: 100;
  font-style: italic;
  font-variation-settings:
    "wdth" 100; 
}

.sidebar .sidebar-content ion-icon {
  color: var(--lighth1);
  font-size: 30;
  margin-top: 2;
}

.sidebar .sidebar-content .menu-link .News_sidebar{
  /* margin-left: 12; */
  
}


.sidebar .sidebar-content .menu-link .Videos_sidebar{
  /* margin-left: -18; */
}



.menu-link .menu-label {
  transition: opacity 0.3s ease;
  color: var(--lighth1);
  position: relative;
  /* left: 32; */
  text-align: right;
  /* background: tomato; */
  width: 100%;
  font-size: 18;
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
}

.sidebar.collapsed .menu-link .menu-label {
  opacity: 0;
  pointer-events: none;
}

.menu-list .menu-link:is(:hover, .active_house) {
  color: #fff;
  background: var(--menu_btn);

}

.sidebar .sidebar-footer {
  padding: 20px 18px;
  white-space: nowrap;
  border-top: 1px solid var(--color-border-hr);
}

.sidebar-footer .theme-toggle {
  width: 100%;
  min-height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0 15px;
  white-space: nowrap;
  color: var(--color-text-primary);
  background: var(--color-bg-secondary);
  transition: 0.3s ease;
}

.dark-theme .sunny{
  display: none;
}

.light_mode .moon{
  display: none;
}

.sidebar .sidebar-footer ion-icon{
  font-size: 25;
  top: -2;
  position: relative;
}

.sidebar-footer .theme-toggle:hover {
  background: var(--color-hover-secondary);
}

.theme-toggle .theme-label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.theme-toggle .theme-label .theme-text {
  font-size: 1rem;
  transition: opacity 0.4s 0.2s ease;
}

.sidebar.collapsed .theme-toggle :where(.theme-text, .theme-toggle-track) {
  opacity: 0;
  width: 0;
  transition: all 0.2s ease;
}

.theme-toggle .theme-toggle-track {
  height: 24px;
  width: 48px;
  border-radius: 999px;
  margin-left: auto;
  background: #c3d1ec;
  position: relative;
  transition: opacity 0.4s 0.2s ease, background-color 0.3s ease;
}

body.dark-theme .theme-toggle-track {
  background: #695CFE;
}

.theme-toggle-track .theme-toggle-indicator {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

body.dark-theme .theme-toggle-indicator {
  transform: translateX(24px);
}

.site-nav {
  top: 0;
  display: none;
  padding: 15px 20px;
  position: sticky;
  background: var(--color-bg-primary);
  border-bottom: 1px solid var(--color-border-hr);
}

.site-nav .sidebar-toggle {
  position: unset;
}

.container {
  display: flex;
}

.container .main-content {
  flex: 1;
  padding: 30px;
  color: var(--color-text-primary);
}

.main-content .page-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.main-content .card {
  border-radius: 8px;
  padding: 20px;
  background-color: var(--color-bg-sidebar);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


@media (max-width: 1280px) {

  .sidebar {
    top: 100;
    left: 0;
    height: 88%;
    width: 20%;
  }

  
.sidebar.collapsed {
  width: 90px;
}


}


@media (max-width: 768px) {

  .sidebar {
    top: 150;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
  }

  
.sidebar.collapsed {
  width: 90px;
  display: none;
}


}

  /* pc 4k Hd */
  @media (min-width:3800px){
    .sidebar {
      top: 400;
      left: 0;
      height: 100%;
      z-index: 20;
      width: 100%;
      transition: left 0.4s ease;
    }
    .sidebar.collapsed {
      width: 90px;
    }
  }  


/* Responsive media query code for small screens */
@media (max-width: 834px) {
 

  body:has(.sidebar:not(.collapsed))::before {
    opacity: 1;
    pointer-events: auto;
  }

  body:has(.sidebar:not(.collapsed)) {
    overflow: hidden;
  }

  .site-nav {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 90;
    left: 0;
    height: 100%;
    z-index: 20;
    width: 100%;
    transition: left 0.4s ease;
  }

  header .sidebar-toggleadd{
    display: flex;
  }

  .sidebar-header .header-logo {
    width: 200px;
    height: 150px;
    left: -50px;
  }
  
  .sidebar-header h1 {
    font-size: 44;
    font-family: "Playwrite MX Guides", cursive;
    font-weight: 100;
    font-style: normal;
    left: -200px;
  }
  

  .sidebar.collapsed {
    left: -270px;
    width: 270px;
  }

  .container .main-content {
    padding: 30px 20px;
  }
}

/* Responsive media query code for small screens */
@media (max-width: 600px) {
 

  body:has(.sidebar:not(.collapsed))::before {
    opacity: 1;
    pointer-events: auto;
  }

  body:has(.sidebar:not(.collapsed)) {
    overflow: hidden;
  }

  .site-nav {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 50;
    left: 0;
    height: 95%;
    z-index: 20;
    width: 100%;
    transition: left 0.4s ease;
    z-index: 100;
  }

  header .sidebar-toggleadd{
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: var(--color-text-primary);
    background: var(--color-bg-secondary);
    transition: 0.4s ease;
  }
  header .sidebar-toggleadd ion-icon{
    font-size: 30;
    top: 1;
    position: relative;
    /* color: var(--menu_btn); */
  
  }

  .sidebar-header .header-logo {
    width: 100px;
    height: 80px;
    left: -13px;
  }
  
  .sidebar-header h1 {
    font-size: 24;
    font-family: "Playwrite MX Guides", cursive;
    font-weight: 100;
    font-style: normal;
    left: -53px;
  }
  

  .sidebar.collapsed {
    left: -270px;
    width: 270px;
  }

  .container .main-content {
    padding: 30px 20px;
  }

  .menu-list .menu-link {
    display: flex;
    gap: 220px;
    transition: 0.3s ease;
    font-weight: 900;
    font-style: italic;
    font-size: 28;
    font-variation-settings:
      "wdth" 100;
  } 
  
ion-icon {
  font-size: 50;
}
}