

.news{
    position: absolute;
    width: 10cm;
    height: 23cm;
    border: solid var( --lightColor);
    left: 90;
    top: 4.2cm;
    overflow: hidden;
    background: var( --container_t);
    border-radius: 10px;

}
@media (max-width:768px){
    .news{
      
        display: none;
    }
  

}


@media (max-width:600px){
    .news{
      
        display: none;
    }
  

}

