

.news{
    position: absolute;
    width: 10cm;
    height: 23cm;
    border: solid 1px var( --lightColor);
    left: 90;
    top: 7.1cm;
    /* overflow: hidden; */
    background: var( --container_t);
    border-radius: 10px;
    display: grid;
    justify-content: space-around;

}
.news .f11{
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    width: 100%;
    height: 300;
    /* background: rgba(79, 79, 79, 0.166); */
    top: 10px;
    overflow: hidden;
    gap: 0px;
}
.news .f11 .Banner1 , .Banner2{
    position: relative;
    width: 30%;
    height: 100%;
    /* background: rgba(133, 8, 8, 0.421); */
    margin: 0 100 0 0;
    display: none;
}
.f121{
    margin: 350 0 0 0;
}


  /* pc 4k Hd */
@media (min-width:3800px){
    .news{
        width: 23cm;
        height: 40cm;
        left: 100;
        top: 11.2cm;
    
    }
}

/* pc 720p Hd */
@media (max-width:1280px){
    .news{
        width: 7cm;
        height: 23cm;
        left: 90;
        top: 4.2cm;
    
    }
}    


@media (max-width:834px){
    .news{
        position: absolute;
        width: 4cm;
        height: 23cm;
        border: solid var( --lightColor);
        left: 10;
        top: 2.5cm;
        overflow: hidden;
        background: var( --container_t);
        border-radius: 10px;
    
        /* display: none; */
    }
  

}


@media (max-width:600px){
    .news{
      
        display: none;
    }
  

}

