

.news{
    position: absolute;
    width: 10cm;
    height: 23cm;
    border: solid var( --lightColor);
    left: 90;
    top: 4.2cm;
    overflow: hidden;
    background: var( --container_t);
    border-radius: 10px;

}

  /* pc 4k Hd */
  @media (min-width:3800px){
    .news{
        width: 23cm;
        height: 40cm;
        left: 100;
        top: 11.2cm;
    
    }
}

/* pc 720p Hd */
@media (max-width:1280px){
    .news{
        width: 7cm;
        height: 23cm;
        left: 90;
        top: 4.2cm;
    
    }
}    


@media (max-width:834px){
    .news{
        position: absolute;
        width: 4cm;
        height: 23cm;
        border: solid var( --lightColor);
        left: 10;
        top: 2.5cm;
        overflow: hidden;
        background: var( --container_t);
        border-radius: 10px;
    
        /* display: none; */
    }
  

}


@media (max-width:600px){
    .news{
      
        display: none;
    }
  

}

