
.news{
    /* position: static; */
    width: 510;
    height: auto;  
    border: solid 1px var( --lightColor);
    /* flex-grow: 1; */
    display: grid;
    justify-content: center;
    border-radius: 10px;


}
.news .f11{
    width: 10;
    height: 300;
    /* background: rgba(197, 19, 19, 0.863); */
    margin: 11 1 1 -11;
    gap: 155px;
    display: flex;
    position: absolute;

}
.news .f11 .Banner1 , .Banner2{
    position: relative;
    width: 100%;    
    height: 0;
    /* background: rgba(133, 8, 8, 0.421); */
    /* margin: 0 100 0 0; */
}
.f121{
    margin: 350 0 0 0;
    position: relative;
}


  /* pc 4k Hd */
@media (min-width:3800px){
    .news{
        width: 23cm;
        height: 40cm;
        left: 100;
        top: 11.2cm;
    
    }
}

/* pc 720p Hd */
@media (max-width:1280px){
    .news{
        width: 7cm;
        height: 23cm;
        left: 90;
        top: 4.2cm;
    
    }
}    


@media (max-width:834px){
    .news{
        position: absolute;
        width: 4cm;
        height: 23cm;
        border: solid var( --lightColor);
        left: 10;
        top: 2.5cm;
        overflow: hidden;
        background: var( --container_t);
        border-radius: 10px;
    
        /* display: none; */
    }
  

}


@media (max-width:600px){
    .news{
      
        display: none;
    }
  

}

