.row_team{
    position: relative;
    top: 10cm;
    background: rgb(49, 49, 49);
    width: 100%;
}

footer .container{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    width: 100%;


}

footer .container .big_row{
    width: 14%;
    height: 50%;
    background: aqua;
    display: none;

}

footer .container .big_row .hotline{
    display: flex;
    align-items: center;
    margin: 15px 0;
    gap: 10px;

}

footer .container .big_row .hotline i{
    font-size: 60px;
    color: aqua;
    display: none;


}
footer .container .big_row .hotline h5{
    color: aliceblue;
    font-size: 18px;
    margin-bottom: 18px;
    display: none;

}

footer .container .big_row .hotline h6{
    color: aliceblue;
    font-size: 18px;
    display: none;


}

footer .container .big_row p{
    width: 90%;
    color:aliceblue;
    font-size: 14px;
    line-height: 1.5;
    display: none;

}
footer .container .row {
    width: 22%;
    display: none;

}

footer .container .row h4{
    color: aliceblue;
    font-size: 18px;
    margin-left: 110;
    display: none;


    margin-bottom: 20px;
}

footer .container .row .links{
    display: flex;
    flex-direction: column;
    display: none;

    gap: 7px;
    
}

footer .container .row .links a{
    position: relative;
    color: aliceblue;
    font-size: 14px;
    left: 0;
    display: none;

    flex-direction: column;
    transition: 0.3s ease-in-out;
}

footer .container .row .links a:hover{
    left: 8px;
    color: aqua;
    display: none;

}

footer .buttom_footer{
    background: rgb(20, 20, 20);


}
footer .buttom_footer .container{
    padding: 20px 0;
    align-items: center; 
    height: 11px;

}

footer .buttom_footer .container p{
    color: rgb(255, 255, 255);
    left: 50px;
    position: absolute;

}

footer .buttom_footer .container span{
    color: aqua;

}
footer .buttom_footer .payment_img{
    display: flex;
    gap: 18px;

}
footer .buttom_footer .payment_img img{
    filter: grayscale(100%);
    cursor: pointer;
    transition: 0.3s;
    width: 5%;
    left: 10px;
    position: relative;

}
footer .buttom_footer .payment_img img:hover{
    filter: grayscale(8%);
}


footer .social-menu ul{
    position: absolute;
    top: 37%;
    right: -140px;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1000;
}

footer .social-menu p{
    position: absolute;
     top: -30%;
    right: 160px;
    transform: translate(-50%, -50%);
    /* display: flex; */
    z-index: 1000;
    color: #fff;
    display: none;
}
footer .social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

footer .social-menu ul li .fab{
    font-size: 20px;
    line-height: 38px;
    transition: .3s;
    color: #000;
}

footer .social-menu ul li .fa-facebook-f{
    font-size: 20px;
    line-height: 38px;
    transition: .3s;
    color: #000000;
}

footer .social-menu ul li .fa-facebook-f:hover{
    color: #fff;
}


footer .social-menu ul li .fab:hover{
    color: #fff;
}

footer .social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

footer .social-menu ul li a:hover{
    transform: translate(0, -10%);
}

footer .social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(221, 46, 46, 0.829);
}
footer .social-menu ul li:nth-child(2) a:hover{
    background-color: #3c32c7;
}
footer .social-menu ul li:nth-child(3) a:hover{
    background-color: #b50000;
}
footer .social-menu ul li:nth-child(4) a:hover{
    background-color: #ff7575;
}
footer .social-menu ul li:nth-child(5) a:hover{
    background-color: #ff7575;
}
