@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap');



.btn_d{
    position: absolute;
    top: 185px;
    left: 510px;
    width: 23.5cm;
    height: 2cm;
    /* background: rgba(255, 255, 0, 0.277); */
    z-index: 10;
}
.todaytomorrow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    width: 90%;
    height: 100%;
    top: 0;
    left: 25;
    position: absolute;
    text-align: center;
    /* background: violet; */
}
.btn_d .todaytomorrow samp{
    width: 50;
    height: 50;
    
}

/* .btn_d .todaytomorrow h1{
    font-weight: 400;
    font-size: 14;
    top: -12;
    color: #fff;
    position: relative;

}
.btn_d .todaytomorrow .h1_today{

}
.btn_d .todaytomorrow .h1_tomorrow{
    position: relative;
}
.btn_d .todaytomorrow .h1_yesterday{
    position: relative;
} */

.btn_d .todaytomorrow button{
    margin: 0 0 40 0;
    
}

.btn2{
    display: flex;
    height: 50;
    padding: 0;
    border: none;
    outline: none;
    cursor:pointer;
	font-family:Arial;
	font-size:17px;
	border-radius: 30px;
    background:  #c21b1b;

}
.h1_today , .icon_today , .h1_tomorrow ,.icon_tomorrow , .h1_yesterday ,.icon_yesterday {
    display: flex;
    align-items: center;
    padding: 0 10 0 10;
    font-size: 18;
    color: #ffffff;
}

.btn1{
    display: flex;
    height: 50;
    padding: 0;
    border: none;
    outline: none;
    cursor:pointer;
	font-family:Arial;
	font-size:17px;
	border-radius: 30px;
    background:  #3dc21b;
}

.btn3{
    display: flex;
    height: 50;
    padding: 0;
    border: none;
    outline: none;
    cursor:pointer;
	font-family:Arial;
	font-size:17px;
	border-radius: 30px;
    background:  #cd36ef;
	border-radius:28px;
}

button img{
    position: relative;
    display: flex;
    top: -24;
    left: -29;
    width: 34;
    display: none;
}
.img_today{

    position: relative;
    left: -40;
    top: -34;
    width: 55;
}
.img_tomorrow{

}
.img_yesterday{
    position: relative;
    left: -40;
    top: -34;
    width: 55;
}
.home_slider {
   width: 100%;
   height: 10%;
}
 
 .today {
    z-index: 0;
    /* display: none; */
 }
.tomorrow{
  display: none;
 }
 .yesterday{
    display: none;
 }
 

 
.home_tomorrow_active{
    /* right: 0;
    width: 200%;
    z-index: 20;
    display: flex;
    z-index: 1000; */
    display: none;

} 
.home_today_active{
    display: none;
} 
.home_yesterday_active{
    display: none;
} 



.home_slider .aqq{
    /* display: flex;
    justify-content: space-between;
    gap: 20px; */
    position: relative;
    border-radius: 35px;
    width: 24cm;
    margin-left: 500;
    height: auto;
    top: 5cm;
    background: var( --container_t);
    /* background: #18ab29; */
    z-index: 0;
    /* padding: -1111px 0px 10px 0px; */
}


.home_slider .aqq .side_bar{
    display: inline-flex;
    width: 100%;
    height: 100%;
    /* border: 5px solid  var(--Silver) ; */
    background: rgba(146, 215, 77, 0);
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /* margin-top: 200; */
    margin-top: 50;

}
.home_slider .aqq .side_bar_league{
    display: flex;
    position: absolute;
    width: 100%;
    height: 35px;
    background: var( --container_t);
    border: dotted 2px var(--lightColor);
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    /* margin-top: 40; */
    margin-top: 20;
    z-index: 1;
}
.home_slider .aqq .side_bar_league .products h1{
    display: inline-flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -15px;
    flex-direction: row-reverse;
    font-size: 22px;
    font-weight: 300;
    color: var(--lightColor);
    font-family: 'Poppins', sans-serif;
}

.home_slider .aqq .aaa , .aaa_tomorrow{
    display: inline-block;
    /* position: relative; */
    /* width: 100%;
    height: 600; */
    width: 100%;
    height: 100;
    /* top: -10px; */
    /* margin-top: 100px; */
    margin-top: 50px;
    /* background: #00569c; */
    z-index: -10;
}

.home_slider .aqq .aaa a{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90px;
    margin-top: 10px;
    background: var( --lightboby);
    cursor: pointer;
    z-index: 100;

}

.home_slider .aqq .aaa .The_first__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    /* margin-top: 0%; */
    /* margin-left: 3.4cm; */
    font-size: 20;
    font-weight: 200;
    /* background: yellow; */
}
.home_slider .aqq .aaa .The_Second__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    /* margin-top: 0%; */
    /* margin-left: 5cm; */
    font-size: 20;
    font-weight: 200;
    /* background: yellow; */

}
.home_slider .aqq .aaa .The_third__match{
    width: 100px;
    height: 10%;
    /* margin-top: 0%; */
    color: var(--lightColor);
    /* margin-left: 3.4cm; */
    font-size: 20;
    font-weight: 200;


}
.home_slider .aqq .aaa .The_fourth__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    /* margin-top: 0%; */
    /* margin-left: 5cm; */
    font-size: 20;
    font-weight: 200;
}
.home_slider .aqq .aaa .The_Five__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    /* margin-top: 0%; */
    /* margin-left: 3.4cm; */
    font-size: 20;
    font-weight: 200;
}
.home_slider .aqq .aaa a .The_sixth__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    /* margin-left: 5cm; */
    font-size: 20;
    font-weight: 200;
    position: relative;
    /* margin-top: 0%; */
}
.home_slider .aqq .aaa .The_seven__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    /* margin-top: 0%; */
    /* margin-left: 3.4cm; */
    font-size: 20;
    font-weight: 200;
}
.home_slider .aqq .aaa a .The_eighth__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    /* margin-left: 5cm; */
    font-size: 20;
    font-weight: 200;
    position: relative;
    /* margin-top: 0%; */
}
.home_slider .aqq .aaa .The_Ninth__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    /* margin-top: 0%; */
    /* margin-left: 3.4cm; */
    font-size: 20;
    font-weight: 200;
}
.home_slider .aqq .aaa a .The_tenth__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    /* margin-left: 5cm; */
    font-size: 20;
    font-weight: 200;
    position: relative;
    /* margin-top: 0%; */
}

.home_slider .aqq .aaa a p{
    margin-top: 10%;
}

.home_slider .aqq .aaa .The_Match_time{
    display: flex;
    position: relative;
    /* left: 80; */
    width: 4cm;
    height: 100px;
    /* background: yellow; */

}

.home_slider .aqq .aaa .First_team_results{
    position: relative;
    top: 3;
    margin-left: 18;
    font-size: 310px;

}
.home_slider .aqq .aaa .The_Match_time h1{
    position: relative;
    top: 3;
    margin-left: 54;
    font-size: 35px;
    color: var(--lightColor);

}

.home_slider .aqq .aaa .Second_team_results{
    position: relative;
    top: 3;
    margin-left: 40;
    font-size: 30px;
    display: none;


}

.home_slider .aqq .side_bar_league h1{
    display: block;
    font-size: 20px;
    font-weight: 100;
    text-align: right;
    margin-right: 20;
    margin-top: 16;
    color: var(--lightColor);
    display: none;


}
.home_slider .aqq .aaa a  img{
    position: relative;
    top: 80%;
    left: 0;
    right: 0;
    background-position: 10px 10px;
    max-width: 35px;

}


.h2{
    margin-left: -47%;
}
.s2{
    margin-right: -100%;
    width: 75%;
    color: #000;

}

.home_slider .aqq .side_bar a:hover{
    color: var(--main-color);
}

 .home_slider .aqq .slide-swp{
    width: calc(100% 350px);
    overflow: hidden;
    display: none;

 }
 .home_slider .aqq .slide-swp img{
    display: block;
    margin-top: 19%;
    width: 100%;
    object-fit: cover;
    object-position: left top;
    display: none;

 }
 .home_slider .aqq .side_bar .swiper-pagination span{
    background: #fff;
    opacity: 1;
    display: none;

 }
 .swiper-pagination-bullet-active{
    background: var(--main-color);
    width: 20px !important;
    height: 8px !important;
    border-radius: 30px !important;
    display: none;

    
 }

.First_teama{
    position: relative;

    top: 150px;
    background: #00569c;

    font-size: 50px;
    display: none;
 }

 @media (max-width:600px){  
.btn_d{
    position: relative;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 1cm;
    z-index: 20;
    display: inline-flex;
    justify-content: center;

}
.todaytomorrow{
    display: inline-flex;
    justify-content: center;
    align-items: normal;
    align-content: normal;
    gap: 50px;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    /* background: violet; */
 

}
.btn_d .todaytomorrow samp{
    width: 50;
    height: 50;
    position: relative;
    left: -17;
    margin: 0 30 0 10;
}


.btn2{
    
    display: flex;
    height: 30;
    padding: 0;
    border: none;
    outline: none;
    cursor:pointer;
	font-family:Arial;
	font-size:17px;
	border-radius: 30px;
    background:  #c21b1b;

}
.h1_today , .icon_today , .h1_tomorrow ,.icon_tomorrow , .h1_yesterday ,.icon_yesterday {
    display: flex;
    align-items: center;
    padding: 0 10 0 10;
    font-size: 12;
    font-weight: 100;
    color: #ffffff;
}

.btn1{
    display: flex;
    height: 30;
    padding: 0;
    border: none;
    outline: none;
    cursor:pointer;
	font-family:Arial;
	font-size:17px;
	border-radius: 30px;
    background:  #3dc21b;
}

.btn3{
    display: flex;
    height: 30;
    padding: 0;
    border: none;
    outline: none;
    cursor:pointer;
	font-family:Arial;
	font-size:17px;
	border-radius: 30px;
    background:  #cd36ef;
	border-radius:28px;
}

button img{
    position: relative;
    display: flex;
    top: -24;
    left: -29;
    width: 25;
}
.img_today{
    position: relative;
    left: -35;
    top: -31;
    width: 40;
}
.img_tomorrow{
    position: relative;
    /* left: -40; */
    /* top: -34; */
    /* width: 55; */

}
.img_yesterday{
    position: relative;
    left: -35;
    top: -31;
    width: 40;
}

.home_slider {
    width: 100%;
    height: 10%;
    top: 122;
}


.home_slider .aqq {
    margin-left: 11;
    width: 95%;
    background: var(--container_t);
    display: flex; 
    flex-direction: column;
    flex-grow: 1; /* هذه الخاصية هي المفتاح. تجعله يأخذ كل المساحة المتبقية. */
    height: auto; 
    /* background: yellow; */
    top: 1.5cm;
}

.home_slider .aqq .side_bar{
    display: inline-flex;
    width: 100%;
    height: 100%;
    /* border: 5px solid  var(--Silver) ; */
    /* background: rgba(100, 132, 67, 0.444); */
    margin-top: 20;

}
.home_slider .aqq .side_bar_name{
    display: flex;
    width: 500px;
    height: 50px;
    background: #4eeeb1;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    display: none;

}
.home_slider .aqq .side_bar_name .btn{
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    width: 40px;
    height: 40px;
    background: #dcd61f;
    border-radius: 10px 20px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;    display: none;

}
.home_slider .aqq .side_bar_name .btn_n{
    position: absolute;
    margin-left: 120px;
    margin-top: 2px;
    width: 40px;
    height: 40px;
    background: #dcd61f;
    border-radius: 10px 20px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;    display: none;

}
.home_slider .aqq .side_bar_name .btn_time{
    position: absolute;
    margin-left: 2px;
    margin-top: 52px;
    width: 230px;
    height: 50px;
    /* background: #dc1fd3; */
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    display: none;

}
.home_slider .aqq .side_bar_name .btn_ta{
    position: absolute;
    margin-left: -110px;
    margin-top: -30px;
    width: 40px;
    height: 40px;
    background: #dcd61f;
    border-radius: 5px 5px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    display: none;

}
.home_slider .aqq .side_bar_name .btn_t{
    position: absolute;
    margin-left: 70px;
    margin-top: -30px;
    width: 40px;
    height: 40px;
    background: #dcd61f;
    border-radius: 5px 5px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    display: none;

}
.home_slider .aqq .side_bar_name p{
    display: flex;
    position: relative;
    left: -50;
    top: 10px;
    margin: -4px 0 0 100px;
    background: #dcd61f;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 2px;
    display: none;

}

.home_slider .aqq .side_bar_name h1{
    display: block;
    font-size: 23px;
    color: #000000;
    text-align: right;
    margin-right: 20;
    display: none;

}
.home_slider .aqq .side_bar_league{
    display: block;
    position: sticky;

    /* position: absolute; */
    width: 100%;
    height: 35px;
    background: var( --container_t);
    border: solid 1px var(--lightColor);
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-top: 20;
    z-index: 1;    

}
.home_slider .aqq .side_bar_league .products h1{
    top: -14px;
    font-size: 18px;
    font-weight: 100;
    color: var(--lightColor);
    font-family: 'Poppins', sans-serif;

}

.home_slider .aqq .aaa , .aaa_tomorrow , .aaa_yesterday{
    display: inline-block;
    /* position: relative; */
    width: 100%;
    /* height: 120px; */
    flex-grow: 1; /* هذه الخاصية هي المفتاح. تجعله يأخذ كل المساحة المتبقية. */
    height: 100; 
    /* top: -10px; */
    margin-top: 2%;
    z-index: -10;  
    /* background: violet; */
    /* display: none; */

}

.home_slider .aqq .aaa a{
    display: flex;
    width: 100%;
    height: 90px;
    margin-top: 10px;
    background: var( --container_t);
    cursor: pointer;
    z-index: 100;    
    /* display: none; */

}

.home_slider .aqq .aaa .The_first__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-top: 0%; */
    /* margin-left: -0.1cm; */
    font-size: 20;
    font-weight: 100;
    text-align: center;

}
.home_slider .aqq .aaa .The_Second__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-left: 3.5cm; */
    font-size: 20;
    font-weight: 100;
    text-align: center;

}
.home_slider .aqq .aaa .The_third__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-top: 0%; */
    margin-left: -0.1cm;
    font-size: 20;
    font-weight: 100;
    text-align: center;




}
.home_slider .aqq .aaa .The_fourth__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-left: 3.5cm; */
    font-size: 20;
    font-weight: 100;
    text-align: center;


}
.home_slider .aqq .aaa .The_Five__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-top: 0%; */
    /* margin-left: -0.1cm; */
    font-size: 20;
    font-weight: 100;
    text-align: center;

}
.home_slider .aqq .aaa a .The_sixth__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-left: 3.5cm; */
    font-size: 20;
    font-weight: 100;
    text-align: center;

}
.home_slider .aqq .aaa .The_seven__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-top: 0%; */
    /* margin-left: -0.1cm; */
    font-size: 20;
    font-weight: 100;
    text-align: center;
}
.home_slider .aqq .aaa a .The_eighth__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-left: 3.5cm; */
    font-size: 20;
    font-weight: 100;
    text-align: center;

    }
.home_slider .aqq .aaa .The_Ninth__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-top: 0%; */
    /* margin-left: -0.1cm; */
    font-size: 20;
    font-weight: 100;
    text-align: center;


}
.home_slider .aqq .aaa a .The_tenth__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-left: 3.5cm; */
    font-size: 20;
    font-weight: 100;
    text-align: center;


}

.home_slider .aqq .aaa a p{
    margin-top: 10%;

}

.home_slider .aqq .aaa .The_Match_time{
    display: flex;
    /* position: relative; */
    width: 4cm;
    height: 100px;    

}

.home_slider .aqq .aaa .First_team{
    width: 100%;
    /* top: 3; */
    /* margin-left: -10; */


}
.home_slider .aqq .aaa .The_Match_time h1{
    position: relative;
    top: 3;
    margin-left: 54;
    font-size: 35px;
    font-weight: 300;
    color: var(--lightColor);


}

.home_slider .aqq .aaa .Second_team{
    width: 100%;
    /* top: 3; */
    /* margin-left: -10; */

}

.home_slider .aqq .side_bar_league h1{
    display: block;
    font-size: 20px;
    font-weight: 100;
    text-align: right;
    margin-right: 20;
    margin-top: 16;
    color: var(--lightColor);


}
.home_slider .aqq .aaa a  img{
    position: relative;
    /* top: 80%;
    left: -110;
    width: 50;     */

}


 }