@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap');


.btn1{
    width: 100;
    height: 100;
    z-index: 1000;
    position: absolute;
    top: 200px;
    left: 100px;
}
.btn2{
    width: 100;
    height: 100;
    z-index: 1000;
    position: absolute;
    top: 300px;
    left: 100px;
}

.home_slider {
   width: 100%;
   height: 10%;
}
.today {
    z-index: 10;
 }
.tomorrow{
    width: 100%;
    height: 10%;
    z-index: -1;
    display: none;
 }
 
.home_slider_active{
    right: 0;
    width: 200%;
    z-index: 20;
    display: flex;
    z-index: 1000;

} 
.home_slide_active{
    display: none;
} 

.home_slider .aqq{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: absolute;
    width: 20cm;
    margin-left: 550;
    height: 50cm;
    top: 5cm;
    background: rgba(255, 0, 0, 0);
}

.home_slider .aqq .side_bar{
    display: inline-flex;
    width: 100%;
    height: 100%;
    /* border: 5px solid  var(--Silver) ; */
    background: rgba(146, 215, 77, 0);
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: -40;
}
.home_slider .aqq .side_bar_name{
    display: flex;
    width: 500px;
    height: 50px;
    background: #4eeeb1;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}
.home_slider .aqq .side_bar_name .btn{
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    width: 40px;
    height: 40px;
    background: #dcd61f;
    border-radius: 10px 20px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.home_slider .aqq .side_bar_name .btn_n{
    position: absolute;
    margin-left: 120px;
    margin-top: 2px;
    width: 40px;
    height: 40px;
    background: #dcd61f;
    border-radius: 10px 20px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.home_slider .aqq .side_bar_name .btn_time{
    position: absolute;
    margin-left: 2px;
    margin-top: 52px;
    width: 230px;
    height: 50px;
    /* background: #dc1fd3; */
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    display: none;

}
.home_slider .aqq .side_bar_name .btn_ta{
    position: absolute;
    margin-left: -110px;
    margin-top: -30px;
    width: 40px;
    height: 40px;
    background: #dcd61f;
    border-radius: 5px 5px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    display: none;

}
.home_slider .aqq .side_bar_name .btn_t{
    position: absolute;
    margin-left: 70px;
    margin-top: -30px;
    width: 40px;
    height: 40px;
    background: #dcd61f;
    border-radius: 5px 5px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    display: none;

}
.home_slider .aqq .side_bar_name p{
    display: flex;
    position: relative;
    left: -50;
    top: 10px;
    margin: -4px 0 0 100px;
    background: #dcd61f;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 2px;
    display: none;

}

.home_slider .aqq .side_bar_name h1{
    display: block;
    font-size: 23px;
    color: #000000;
    text-align: right;
    margin-right: 20;
    display: none;

}
.home_slider .aqq .side_bar_league{
    display: block;
    position: absolute;
    width: 100%;
    height: 35px;
    background: var( --container_t);
    border: solid 3px var(--lightColor);
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-top: 40;
    z-index: 1;

}
.home_slider .aqq .side_bar_league .products h1{
    display: inline-flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -15px;
    flex-direction: row-reverse;
    font-size: 22px;
    font-weight: 300;
    color: var(--lightColor);
    font-family: 'Poppins', sans-serif;
}

.home_slider .aqq .aaa , .aaa_tomorrow{
    display: inline-block;
    /* position: relative; */
    width: 100%;
    height: 600;
    top: -10px;
    margin-top: 100px;
    /* background: #00569c; */
    z-index: -10;
}

.home_slider .aqq .aaa a{
    display: flex;
    width: 100%;
    height: 90px;
    margin-top: 10px;
    background: var( --container_t);
    cursor: pointer;
    z-index: 100;

}

.home_slider .aqq .aaa .The_first__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    margin-top: 0%;
    margin-left: 3.4cm;
    font-size: 20;
    font-weight: 200;
}
.home_slider .aqq .aaa .The_Second__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    margin-top: 0%;
    margin-left: 5cm;
    font-size: 20;
    font-weight: 200;
}
.home_slider .aqq .aaa .The_third__match{
    width: 100px;
    height: 10%;
    margin-top: 0%;
    color: var(--lightColor);
    margin-left: 3.4cm;
    font-size: 20;
    font-weight: 200;


}
.home_slider .aqq .aaa .The_fourth__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    margin-top: 0%;
    margin-left: 5cm;
    font-size: 20;
    font-weight: 200;
}
.home_slider .aqq .aaa .The_Five__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    margin-top: 0%;
    margin-left: 3.4cm;
    font-size: 20;
    font-weight: 200;
}
.home_slider .aqq .aaa a .The_sixth__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    margin-left: 5cm;
    font-size: 20;
    font-weight: 200;
    position: relative;
    margin-top: 0%;
}
.home_slider .aqq .aaa .The_seven__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    margin-top: 0%;
    margin-left: 3.4cm;
    font-size: 20;
    font-weight: 200;
}
.home_slider .aqq .aaa a .The_eighth__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    margin-left: 5cm;
    font-size: 20;
    font-weight: 200;
    position: relative;
    margin-top: 0%;
}
.home_slider .aqq .aaa .The_Ninth__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    margin-top: 0%;
    margin-left: 3.4cm;
    font-size: 20;
    font-weight: 200;
}
.home_slider .aqq .aaa a .The_tenth__match{
    width: 100px;
    height: 10%;
    color: var(--lightColor);
    margin-left: 5cm;
    font-size: 20;
    font-weight: 200;
    position: relative;
    margin-top: 0%;
}

.home_slider .aqq .aaa a p{
    margin-top: 10%;

}

.home_slider .aqq .aaa .The_Match_time{
    display: flex;
    position: relative;
    left: 80;
    width: 4cm;
    height: 100px;
}

.home_slider .aqq .aaa .First_team_results{
    position: relative;
    top: 3;
    margin-left: 18;
    font-size: 310px;

}
.home_slider .aqq .aaa .The_Match_time h1{
    position: relative;
    top: 3;
    margin-left: 54;
    font-size: 35px;
    color: var(--lightColor);

}

.home_slider .aqq .aaa .Second_team_results{
    position: relative;
    top: 3;
    margin-left: 40;
    font-size: 30px;
    display: none;


}

.home_slider .aqq .side_bar_league h1{
    display: block;
    font-size: 20px;
    font-weight: 100;
    text-align: right;
    margin-right: 20;
    margin-top: 16;
    color: var(--lightColor);
    display: none;


}
.home_slider .aqq .aaa a  img{
    position: relative;
    top: 80%;
    left: 0;
    right: 0;
    background-position: 10px 10px;
    width: 50px;

}


.h2{
    margin-left: -47%;
}
.s2{
    margin-right: -100%;
    width: 75%;
    color: #000;

}

.home_slider .aqq .side_bar a:hover{
    color: var(--main-color);
}

 .home_slider .aqq .slide-swp{
    width: calc(100% 350px);
    overflow: hidden;
    display: none;

 }
 .home_slider .aqq .slide-swp img{
    display: block;
    margin-top: 19%;
    width: 100%;
    object-fit: cover;
    object-position: left top;
    display: none;

 }
 .home_slider .aqq .side_bar .swiper-pagination span{
    background: #fff;
    opacity: 1;
    display: none;

 }
 .swiper-pagination-bullet-active{
    background: var(--main-color);
    width: 20px !important;
    height: 8px !important;
    border-radius: 30px !important;
    display: none;

    
 }

.First_teama{
    position: relative;

    top: 150px;
    background: #00569c;

    font-size: 50px;
    display: none;
 }

 @media (max-width:600px){

.home_slider {
    width: 100%;
    height: 10%;
    display: none;
}

.home_slider .aqq{
    width: 95%;
    /* width: 0; */
    margin-left: 11;
    height: 500;
    top: 5cm;

}


 
.active{
    right: 0;
    width: 200%;
    z-index: 20;
    background: yellowgreen;
    display: flex;
} 



.home_slider .aqq .side_bar{
    display: inline-flex;
    width: 100%;
    height: 100%;
    /* border: 5px solid  var(--Silver) ; */
    /* background: rgba(100, 132, 67, 0.444); */
    margin-top: -40;

}
.home_slider .aqq .side_bar_name{
    display: flex;
    width: 500px;
    height: 50px;
    background: #4eeeb1;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    display: none;

}
.home_slider .aqq .side_bar_name .btn{
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    width: 40px;
    height: 40px;
    background: #dcd61f;
    border-radius: 10px 20px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;    display: none;

}
.home_slider .aqq .side_bar_name .btn_n{
    position: absolute;
    margin-left: 120px;
    margin-top: 2px;
    width: 40px;
    height: 40px;
    background: #dcd61f;
    border-radius: 10px 20px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;    display: none;

}
.home_slider .aqq .side_bar_name .btn_time{
    position: absolute;
    margin-left: 2px;
    margin-top: 52px;
    width: 230px;
    height: 50px;
    /* background: #dc1fd3; */
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    display: none;

}
.home_slider .aqq .side_bar_name .btn_ta{
    position: absolute;
    margin-left: -110px;
    margin-top: -30px;
    width: 40px;
    height: 40px;
    background: #dcd61f;
    border-radius: 5px 5px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    display: none;

}
.home_slider .aqq .side_bar_name .btn_t{
    position: absolute;
    margin-left: 70px;
    margin-top: -30px;
    width: 40px;
    height: 40px;
    background: #dcd61f;
    border-radius: 5px 5px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    display: none;

}
.home_slider .aqq .side_bar_name p{
    display: flex;
    position: relative;
    left: -50;
    top: 10px;
    margin: -4px 0 0 100px;
    background: #dcd61f;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 2px;
    display: none;

}

.home_slider .aqq .side_bar_name h1{
    display: block;
    font-size: 23px;
    color: #000000;
    text-align: right;
    margin-right: 20;
    display: none;

}
.home_slider .aqq .side_bar_league{
    display: block;
    position: absolute;
    width: 100%;
    height: 35px;
    background: var( --container_t);
    border: solid 1px var(--lightColor);
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-top: 40;
    z-index: 1;    

}
.home_slider .aqq .side_bar_league .products h1{
    top: -17px;
    font-size: 22px;
    font-weight: 100;
    color: var(--lightColor);
    font-family: 'Poppins', sans-serif;

}

.home_slider .aqq .aaa{
    display: inline-block;
    /* position: relative; */
    width: 100%;
    height: 600;
    top: -10px;
    margin-top: 100px;
    z-index: -10;  

}

.home_slider .aqq .aaa a{
    display: flex;
    width: 100%;
    height: 90px;
    margin-top: 10px;
    background: var( --container_t);
    cursor: pointer;
    z-index: 100;    
}

.home_slider .aqq .aaa .The_first__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-top: 0%; */
    margin-left: -0.1cm;
    font-size: 20;
    font-weight: 100;
    text-align: center;

}
.home_slider .aqq .aaa .The_Second__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    margin-left: 3.5cm;
    font-size: 20;
    font-weight: 100;
    text-align: center;

}
.home_slider .aqq .aaa .The_third__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-top: 0%; */
    margin-left: -0.1cm;
    font-size: 20;
    font-weight: 100;
    text-align: center;




}
.home_slider .aqq .aaa .The_fourth__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    margin-left: 3.5cm;
    font-size: 20;
    font-weight: 100;
    text-align: center;

}
.home_slider .aqq .aaa .The_Five__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-top: 0%; */
    margin-left: -0.1cm;
    font-size: 20;
    font-weight: 100;
    text-align: center;
}
.home_slider .aqq .aaa a .The_sixth__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    margin-left: 3.5cm;
    font-size: 20;
    font-weight: 100;
    text-align: center;

}
.home_slider .aqq .aaa .The_seven__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-top: 0%; */
    margin-left: -0.1cm;
    font-size: 20;
    font-weight: 100;
    text-align: center;
}
.home_slider .aqq .aaa a .The_eighth__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    margin-left: 3.5cm;
    font-size: 20;
    font-weight: 100;
    text-align: center;
    }
.home_slider .aqq .aaa .The_Ninth__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    /* margin-top: 0%; */
    margin-left: -0.1cm;
    font-size: 20;
    font-weight: 100;
    text-align: center;

}
.home_slider .aqq .aaa a .The_tenth__match{
    width: 200;
    height: 0;
    color: var(--lightColor);
    margin-left: 3.5cm;
    font-size: 20;
    font-weight: 100;
    text-align: center;

}

.home_slider .aqq .aaa a p{
    margin-top: 10%;
}

.home_slider .aqq .aaa .The_Match_time{
    display: flex;
    position: relative;
    left: 35;
    width: 4cm;
    height: 100px;    

}

.home_slider .aqq .aaa .First_team{
    width: 100%;
    /* top: 3; */
    /* margin-left: -10; */


}
.home_slider .aqq .aaa .The_Match_time h1{
    position: relative;
    top: 3;
    margin-left: 54;
    font-size: 35px;
    font-weight: 300;
    color: var(--lightColor);


}

.home_slider .aqq .aaa .Second_team{
    width: 100%;
    /* top: 3; */
    /* margin-left: -10; */

}

.home_slider .aqq .side_bar_league h1{
    display: block;
    font-size: 20px;
    font-weight: 100;
    text-align: right;
    margin-right: 20;
    margin-top: 16;
    color: var(--lightColor);
    display: none;


}
.home_slider .aqq .aaa a  img{
    position: relative;
    /* top: 80%;
    left: -110;
    width: 50;     */

}


 }