

.ssummary{
    position: absolute;
    z-index: 19;
    width: 10cm;
    height: 23cm;
    border: solid var( --lightColor);
    left: 38.2cm;
    top: 4.2cm;
    background: var( --container_t);
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
    
}

.light_mode{
    scrollbar-color: #ffffff #dedede; 

  }

.dark-theme {
    scrollbar-color: #4f4f4f #292929; 

  }

/* ::-webkit-scrollbar {
    width: 5px; 
  }
  
  ::-webkit-scrollbar-track {
    background: var(--lightboby);
}
  
  ::-webkit-scrollbar-thumb {
    background: var(--webkit-scrollbar-thumb);
}
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */


.Videos {
    position: relative;
    width: 100%;
    height: 300%;
    top: 0;
    margin: 0 0 0 0;
    /* background: yellowgreen; */
    display: inline-block;

}

.Videos .url{
    position: relative;
    width: 100%;
    height: 230px;
    background: rgba(90, 90, 90, 0.152);
    margin-top: 15px;
    cursor: pointer;
}
.Videos div h1{
    color: var(--lighth1);
    font-weight: 500;
    font-size: 14;
}

.swiper-slide--one {
    width: 100%;
    height: 70%;
    background-size: 100% 100%;
}

.swiper-slide--two {
    background-size: 100% 100%;
    width: 100%;
    height: 70%;
}

.swiper-slide--three {
    background-size: 100% 100%;
    width: 100%;
    height: 70%;
}

.swiper-slide--four {
    background-size: 100% 100%;
    width: 100%;
    height: 70%;
}




@media (max-width:600px){
    .ssummary{
      
        display: none;
    }
   

}

