

.ssummary{
    /* position: absolute; */
    /* z-index: 19; */
    width: 510;
    border: 1px solid var( --lightColor);
    /* left: 1450; */
    /* margin-top: 3.0cm; */
    /* background: var( --container_t); */
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
    /* flex-grow: 1; */

    
}
/* 1080p */
/* @media (max-width:1900px){
    .ssummary{
        position: absolute;
        left: 1450;
        top: 4.2cm;
    }
    
} */
/* -1080p */
/* @media (min-width:1920px){
    .ssummary{
        left: 1510;
        top: 4.2cm;
    }
    
} */

.light_mode{
    scrollbar-color: #ffffff #dedede; 
  }
.dark-theme {
    scrollbar-color: #4f4f4f #292929; 
}

/* ::-webkit-scrollbar {
    width: 5px; 
  }
  
  ::-webkit-scrollbar-track {
    background: var(--lightboby);
}
  
  ::-webkit-scrollbar-thumb {
    background: var(--webkit-scrollbar-thumb);
}
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */

.Videos {
    position: relative;
    width: 100%;
    height: 300%;
    top: 0;
    margin: 0 0 0 0;
    /* background: yellowgreen; */
    display: inline-block;
    /* display: none; */

}

.Videos .url{
    position: relative;
    width: 100%;
    height: 230px;
    background: rgba(90, 90, 90, 0.152);
    margin-top: 15px;
    cursor: pointer;
}
.Videos div h1{
    color: var(--lighth1);
    font-weight: 500;
    font-size: 14;
}

.swiper-slide--one {
    width: 100%;
    height: 70%;
    background-size: 100% 100%;
}

.swiper-slide--two {
    background-size: 100% 100%;
    width: 100%;
    height: 70%;
}

.swiper-slide--three {
    background-size: 100% 100%;
    width: 100%;
    height: 70%;
}

.swiper-slide--four {
    background-size: 100% 100%;
    width: 100%;
    height: 70%;
}

  /* pc 4k Hd */
  @media (min-width:3800px){

    .ssummary{
        position: absolute;
        z-index: 19;
        width: 23cm;
        height: 40cm;
        border: solid var( --lightColor);
        left: 78cm;
        top: 11.2cm;
        background: var( --container_t);
        border-radius: 10px;
        overflow-y: scroll;
        scrollbar-width: thin;
        
    }
  }

/* pc 720p Hd */
@media (max-width:1280px){
    .ssummary{
        width: 7cm;
        height: 23cm;
        left: 1000;
        top: 4.2cm;

    /* position: absolute;
    z-index: 19;
    width: 4cm;
    height: 23cm;
    border: solid var( --lightColor);
    left: 650;
    top: 4.2cm;
    background: var( --container_t);
    border-radius: 10px;
    display: none; */
    
    }
}
@media (max-width:834px){
    .ssummary{
        position: absolute;
        width: 4cm;
        height: 23cm;
        border: solid var( --lightColor);
        left: 650;
        top: 2.5cm;
        overflow: hidden;
        background: var( --container_t);
        border-radius: 10px;
        overflow-y: scroll;
        scrollbar-width: thin;
    

    /* position: absolute;
    z-index: 19;
    width: 4cm;
    height: 23cm;
    border: solid var( --lightColor);
    left: 650;
    top: 4.2cm;
    background: var( --container_t);
    border-radius: 10px;
    display: none; */
    
    }
    .Videos {
        position: relative;
        width: 100%;
        height: 300%;
        top: 0;
        margin: 0 0 0 0;
        /* background: yellowgreen; */
        display: inline-block;
        display: none;
    
    }
    
    .Videos .url{
        position: relative;
        width: 100%;
        height: 230px;
        background: rgba(90, 90, 90, 0.152);
        margin-top: 15px;
        cursor: pointer;
        display: none;
    }

}


@media (max-width:600px){
    .ssummary{
      
        display: none;
    }
   

}

