
.video-ms{
    display: grid;
    width: 90%;
    height: 18cm;
    /* background: yellow; */
    border: 1px solid var(--lighth1);
    margin: 6cm 0 0 3cm;
    gap: 0px;

}
.Videos_ms{
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: space-evenly;
    align-items: center;
    /* background: rgba(255, 255, 0, 0.125); */
    /* border: 10px solid wheat; */
    gap: 0px;

}
.Videos_ms .url{
    position: relative;
    width: 24%;
    height: 90%;
    background: rgba(90, 90, 90, 0.619);
    cursor: pointer;
}
.Videos_ms div h1{
    color: var(--lighth1);
    font-weight: 300;
    font-size: 11;
}
