.Videos {
    position: relative;
    width: 100%;
    height: 5cm;
    /* background:var(--fa-linkedin-in); */
    top: 0;
    margin: 0 0 0 0;
    /* background: yellowgreen; */
    /* display: none; */
    display: inline-block;

}

.summary {
    position: absolute;
    /* background: rgb(59, 67, 43); */
    width: 100%;
    height: 100%;
    display: inline-block;
    justify-self: center;
}


.swiper {
    width: 100%;
    padding-top: 0.125rem;
    display: inline-block;
    background: yellow;


}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;

}

.swiper-pagination {
    bottom: 1.25rem !important;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
}

.swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 0.625rem;
    padding: 0 0 0 1.563rem;
    text-transform: uppercase;
}

.swiper-slide p {
    color: #dadada;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding: 0 1.563rem;
    line-height: 1.6;
    font-size: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.swiper-slide a {
    margin: 1.25rem 1.563rem 3.438rem 1.563rem;
    padding: 0.438em 1.875rem;
    font-size: 0.9rem;
}

.swiper-slide a:hover {
    color: #005baa;
}

.swiper-slide div {
    opacity: 0;
    padding-bottom: 0.625rem;
}

.swiper-slide-active div {
    display: block;
    opacity: 1;
}

.swiper-wrapper{
    gap: 21px;
    display: inline-block;



}


.swiper-slide--one {
    background:url('https://i.ytimg.com/vi/ewSjMbKgtaA/maxresdefault.jpg') no-repeat center/cover; /* غيّر الصورة */
    width: 10cm;
    background-size: 100% 100%;

    /* background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://images.unsplash.com/photo-1628944682084-831f35256163?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80") no-repeat 50% 50%/cover; */
}

.swiper-slide--two {
    background: url('https://i.ytimg.com/vi/M4vr58eB_yw/maxresdefault.jpg');
    background-size: 100% 100%;
    width: 10cm;

    /* background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://images.unsplash.com/photo-1515309025403-4b0184873cef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80") no-repeat 50% 50%/cover; */
}

.swiper-slide--three {
    background: rgb(148, 141, 156);
    width: 10cm;

    /* background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://images.unsplash.com/photo-1545671913-b89ac1b4ac10?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat 50% 50%/cover; */
}

.swiper-slide--four {
    background: rgb(51, 153, 124);
    /* background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://images.unsplash.com/photo-1598977123118-4e30ba3c4f5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat 50% 50%/cover; */
}

.swiper-slide--five {
    background: rgb(153, 51, 51);
    /* background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://images.unsplash.com/photo-1570481662006-a3a1374699e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80") no-repeat 50% 50%/cover; */
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}


@media (max-width:600px){
    .Videos {
        position: relative;
        width: 100%;
        height: 4cm;
        background:var(--fa-linkedin-in);
        top: 0;
        margin: 0 0 0 0;
        /* background: #005baa; */
    }
    
    .swiper {
        width: 70%;
        height: 100%;
        padding-top: 3.125rem;
    
    }
    
    .swiper-slide {
        width: 100%;
        height: 100%;
    }
    
    
  }
  
  