

.cart{
    display: flex;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    width: 30ch;
    height: 100%;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    z-index: 1100;
    border-left: 1px solid var(--border-color);
}
.active{
    right: 0;
} 
