body{
  margin:0;
  font-family:"Cairo", sans-serif;
  background:#eaff04;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
}

.quote-hero{
  position:relative;
  width:20cm;
  height:22cm;
  background:url('/image/aef76igs_s_625x300_05_September_25.webp') no-repeat center/cover; /* غيّر الصورة */
  display:flex;
  align-items:center;
  justify-content:center;
  overflow: hidden;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.55);
}

.quote-box{
  position:relative;
  max-width:650px;
  top: 231px;
  padding:40px;
  border-radius:20px;
  backdrop-filter:blur(12px);
  background:rgba(255,255,255,0.15);
  border:1px solid rgba(255,255,255,0.25);
  color:#fff;
  z-index:2;
  text-align:center;
  box-shadow:0 8px 25px rgba(0,0,0,0.5);
}

.quote-mark{
  font-size: 100px;
  line-height:0.8;
  margin-bottom:15px;
  background:linear-gradient(45deg,#ff8a00,#e52e71);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  font-weight:900;
}

.quote-text{
  font-size: 29px;
  font-weight: bolder;
  line-height:1.5;
  top: -40px;
  position: relative;
}

.author{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:12px;
  font-weight:600;
  font-size:18px;

}

.author img{
  width:50px;
  height:50px;
  border-radius:50%;
  border:2px solid #fff;
  object-fit:cover;
}

.author span{
  background:linear-gradient(90deg,#f093fb,#f5576c);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  font-weight:800;
}
.brand {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;   
  top: -10.0cm;
  left: 19.5cm;
  position: relative;  
}
.brand img{
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  position: relative;    


}

