:root {
  --card-bg: rgba(0, 0, 0, 0.55);
  --accent: #ffd400;
  --white: #fff;
  --muted: rgba(255, 255, 255, 0.8);
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box
}

html,
body {
  margin:0;
  background:#eaff04;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
}

/* .hero {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #a4b0bb, #6d757c);
  z-index: 0;
} */

.back {
  position: relative;
  z-index: 1;
  width:20cm;
  height:22cm;
  align-items: center;
  overflow: hidden;
  background:url('/image/New\ folder/2855dcaa-ff93-40d4-94e0-b9fb535cadd1.webp') no-repeat center/cover; /* غيّر الصورة */
  background-repeat: no-repeat;
  background-size: 130% 130%;
  background-position: -130px 0px; 
}

.card {
  position: relative;
  z-index: 2;
  max-width:650px;
  top: 561px;
  padding: 28px 26px;
  color: var(--white);
  background: var(--card-bg);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  left: 53px;
  gap: 18px;
  align-items: center;
  z-index: 5;
  padding:40px;
  border-radius:20px;
  backdrop-filter:blur(12px);
  background:rgba(255,255,255,0.15);
  border:1px solid rgba(255,255,255,0.25);
  text-align:center;
  box-shadow:0 8px 25px rgba(0,0,0,0.5);
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.55);
}



.meta {
  grid-column: 1/-1;
  padding: 0px 0px 0px 0px;
  width: 200px;
  left: 200px;
  text-align: center;
  border-radius: 20%;
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
  position: relative;
  top: -55px;
  background: rgba(78, 241, 250, 0.131);
  backdrop-filter: blur(10px);
  z-index: 10;
  overflow: hidden;


}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.flag {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 3px rgba(255, 255, 255, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin: -130px 0px 0px 0px;
}

.flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block
}

.team-name {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--white)
}

.scorebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 20px;
  min-width: 180px;
  position: relative;
  top: -71px;
}

.score {
  font-size: 86px;
  line-height: 0.85;
  font-weight: 800;
}

.vs {
  font-size: 14px;
  color: var(--muted);
  font-weight: 600
}

.status {
  background: transparent;
  border-radius: 6px;
  padding: 6px 10px;
  font-weight: 700;
  font-size: 12px;
  color: var(--accent)
}

.scorers {
  position: absolute;
  left: 18px;
  bottom: 30px;
  color: var(--muted);
  /* font-size: 9px; */
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* top: 150px; */

  

}
.team_scorers2{
  display: flex;
  text-align: left;
  left: 440px;
}

.scorer {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  margin: 0px 0px 0px 0px;
  

}
.scorer1 {
  margin: 0px 0px 0px 0px;
  
}

.scorer2 {
  /* margin: 0px 0px 0px 133px; */
}

.minute {
  width: 36px;
  height: 36;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700
}
.minute2{
  position: absolute;
  left: 160px;

}
.g1{
}
.g2{
  opacity: 0;

}
.g3{
  opacity: 0;

}


.scorer .name {
  font-weight: 600;
  color: var(--white)
}

.brand {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;   
  top: -6.5cm;
  left: 18.3cm;
  position: relative;  
}
.brand img{
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  position: relative;    


}

