/* :root {
    --accent: #111;
    --muted: rgba(0, 0, 0, 0.55);
    --white: #fff;
} */

* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: 'Montserrat', system-ui, Arial, sans-serif;
    background: #750101
}

.poster-wrap {
    max-width: 720px;
    margin: 134px auto;
    position: relative;
    overflow: hidden;
    border-radius: 6px
}


.bg {
    background-image: url('/image/New folder/2d.jpg');
    background-size: cover;
    background-position: center;
    height: 720px;
    filter: grayscale(10%);
}

.overlay {
    position: absolute;
    inset: 0;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.048)); */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.317), rgba(0, 0, 0, 0.882));
    mix-blend-mode: normal
}

.content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 28px
}

.quote-box{
    position:relative;
    width: 100%;
    top: 1%;
    padding:40px;
    border-radius:20px;
    backdrop-filter:blur(12px);
    background:rgba(255,255,255,0.15);
    border:1px solid rgba(255,255,255,0.25);
    color:#fff;
    z-index:2;
    text-align:center;
    box-shadow:0 8px 25px rgba(0,0,0,0.5);
  }

.quote-mark{
    font-size:70px;
    line-height:0.8;
    margin-bottom:15px;
    background:linear-gradient(45deg,#ff8a00,#e52e71);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-weight:900;
  }
  
.quote-text{
    font-size:26px;
    font-weight:700;
    line-height:1.5;
    margin-bottom:25px;
  }

  .author{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
    font-weight:600;
    font-size:18px;
  }
  
  .author img{
    width:50px;
    height:50px;
    border-radius:50%;
    border:2px solid #fff;
    object-fit:cover;
  }
  
  .author span{
    background:linear-gradient(90deg,#f093fb,#f5576c);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-weight:800;
  }
  
  
/* top-right small logo */
.topbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px
}

.topbar .logo-sm {
    margin-left: auto;
    display: flex;
    gap: 6px;
    align-items: center
}

.topbar img {
    height: 46px;
    filter: grayscale(100%);

}

